body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(216, 216, 216);
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(52, 52, 52);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(78, 78, 78);
  color:white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: gray;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(159, 159, 159);
}

button:active {
  background-color: rgb(212, 212, 212);
}

.operator-btn {
  background-color: rgb(255, 174, 0);
}

.operator-btn:hover {
  background-color: rgb(255, 190, 50);;
}

.operator-btn:active {
	background-color: rgb(255, 202, 88);
}